div.login_form
{
    background: lightgray;
    border: 5px darkgray;
    max-width: 400px;
    width: 30%;
    min-width: 300px;
    align-content: center;
}

div.register_form
{
    background: lightgray;
    border: 5px darkgray;
    max-width: 550px;
    width: 35%;
    min-width: 450px;
    align-content: center;
}

div.container
{
    max-width: 1024px;
    background: ghostwhite;
    padding: 10px
}